SSID=your_wifi
WIFI_PASSWORD=your_wifi_password

SERVER_IP=10.42.0.x
SERVER_PORT=5005

SECRET_KEY=your_secret_key

ZERO_IP=potatao_base_station_ip
ZERO_PORT=potatao_base_station_port

PICO_REGISTER_API=/pico/device/register
PICO_REGISTERATION_CHECK_API=/pico/device/registeration/check
PICO_AUTHORIZATION_API=/pico/device/authorize
PICO_WS_API=/communication/pico/ws
PICO_RECEIVE_WS=/communication/pico/ws/receive
pico_WS_DISCONNECT_API=/pico/device/disconnect
LANGUAGE_LIST_API=/language/list
RECEIVE_HAND_SHAKE=/pico/device/receive/handshake
RECEIVE_DISCONNECT=/pico/device/receive/disconnect8000